<h2 class="first"><%= user_check(current_user)  %></h2>
 <h4> - You currently own <%= current_user.games.count > 1 ? "these games" : "this game" %> on the <%= @console.name %> </h4>
    <div>
<ol>
<% @console.games.each do |game| %>
    <%if game.user_id == current_user.id  %>
    <li><%= game.title %> -- Complete? <%= game.complete ? "Yes" : "No" %></li> 
    <% end %>
<% end %>
</ol>
    </div>

<h4 class="footer"><%= link_to "Back", user_games_path(current_user) %></h4>


<%# possible loop needed %>