<h3><%= current_user.username %>, you currently own <%= @console.games.count %> games on the <%= @console.name %> </h3>
    <div>
<ol>
<% @console.games.each do |game| %>
    <%if game.user_id == game.console_id  %>
<li><%= game.title %> </li> 
    <% end %>
<% end %>
</ol>
    </div>

<h4><%= link_to "Back", user_games_path(current_user) %></h4>