<h1>Changing Something? Edit your collection!!<h1>
<br>
<% if @game.errors.any? %>
    <h4> <%= @game.errors.full_messages.to_sentence %> </h4>
<% end %>
<div>
<%= form_with model: @game, local: true, method: :patch do |f| %> 
<%= f.text_field :title, placeholder: "Game Title" %>
</div>
   
<div>
<%= f.text_field :release_year, placeholder: "Year of Release" %>
</div>
    
<div>
<%= f.text_area :description, size: "30x10", placeholder: "What's it About?" %>
</div>
 
<div>
<%= f.text_field :genre, placeholder: "Genre" %>
</div>
    
<div>
<%= f.text_field :developer, placeholder: "Developer" %>
</div>
  
<div>
<%= f.label :complete, "Finished?" %>
<%= f.check_box :complete %>
</div>

<%= f.submit %>
<% end %>
</div>