<div>
<h1 class="header">New game? Add it to the collection!!</h1>
</div>
<div class="errors">
<% if @game.errors.any? %>
    <h3>The game wasnt saved because:</h3>
    <ul>
    <li> <%= @game.errors.full_messages.to_sentence %> </li>
    </ul>
<% end %>
</div>

<div>
<%= form_with model: @game, local: true do |f| %>
<%= f.text_field :title, placeholder: "Game Title" %>
</div>
    <br>
<div>
<%= f.text_field :release_year, placeholder: "Year of Release" %>
</div>
    <br>
<div>
<%= f.text_area :description, size: "30x10", placeholder: "What's it About?" %>
</div>
    <br>
<div>
<%= f.text_field :genre, placeholder: "Genre" %>
</div>
    <br>
<div>
<%= f.text_field :developer, placeholder: "Developer" %>
</div>
    <br>
<div>
<%= f.label :complete, "Finished?" %>
<%= f.check_box :complete %>
</div>
    <br>
<div>
        <%= f.label :console, "On what console?" %>
</div>        
    <br>
<div>
        <%= f.fields_for :console, @game.build_console do |console_field| %>
        <%= console_field.text_field :name %>
        <% end %>
<%= f.submit %>
<% end %>
</div>




