<div>
<h1>New game? Add it to the collection!!<h1>
</div>
<div>
<%= form_with model: @game, local: true  do |f| %>
<%= f.text_field :title, placeholder: "Game Title" %>
</div>
    <br>
<div>
<%= f.text_field :release_year, placeholder: "Year of Release" %>
</div>
    <br>
<div>
<%= f.text_area :description, placeholder: "What's it About?" %>
</div>
    <br>
<div>
<%= f.text_field :genre, placeholder: "Genre" %>
</div>
    <br>
<div>
<%= f.text_field :developer, placeholder: "Developer" %>
</div>
    <br>
<div>
<%= f.label :complete, "Finished?" %>
<%= f.check_box :complete %>
</div>
    <br>
<div>
        <%= f.label :console, "On what console do you own this game?" %>
            <%= f.collection_select :console_ids, @console, :id, :name, {include_blank: 'Select a console'} %>
            <%= f.fields_for :console, @game.build_console do |console_fields| %>
            <%= console_fields.text_field :name %>
        <% end %>
<%= f.submit %>
<% end %>
</div>




