<h2>You have <%= @game.title %> on the <%= @game.console.name %>.  This game was developed by <%= @game.developer %>.</h2><br>
<h2>What's <%= @game.title %> About?</h2><br>
<ul>
<li><%= @game.description %></li>
</ul>
<p>Release Year: <%= @game.release_year %></p>
<p>Genre: <%= @game.genre %>.</p>
<p>Is it Complete? <%= @game.complete ? "Yes" : "No" %></p>
