<!DOCTYPE html>
<html>
  <head>
    <title>VgOrganizerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Trispace:wght@200&family=Aldrich&display=swap" rel="stylesheet">
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'loginstyle.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= stylesheet_link_tag 'style.css' %>
    <%= yield %>
 
 
 
 <% if user_signed_in?  %>
 <h4 class="footer"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></h4> 
 <% end %>
 
  </body>
</html>
