<!DOCTYPE html>
<html>
  <head>
    <title>VgOrganizerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Trispace:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= stylesheet_link_tag 'style.css' %>
    <%= yield %>
  </body>
</html>
